# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# Logs
/logs/
*.log

# IDEs
/.idea/
*.iml
/.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos de configuración locales (opcional)
*.local

# Ignorar archivos de datos generados
*.csv

# Archivos de compilación
*.jar
*.class

# Archivos de configuración
*.properties